*{
    scroll-behavior: smooth !important;
    box-sizing: border-box;
    scroll-padding-top: 72px;
}

body{
    font-family: 'Inconsolata', monospace !important;
}

h1,h2,h3,h4,h5{
    font-family: 'Karla', sans-serif !important;
}

#navbar{
    background: #F8F9FA98 !important;
    backdrop-filter: blur(18px);
    border-bottom: 0.5px solid #F8F9FAa1 !important;
}

#hi{
    /* font-size: 72px; */
    max-width: fit-content;
}

#img-cont{
    position: relative;
}

#contact-link{
    position: absolute;
    bottom: 7%;
    left: 5%;
}

#contact-link2{
    position: absolute;
    top: 5%;
    right: 8%;
}

.tools{
    max-width: fit-content;
    font-size: 24px;
}

.sec-title{
    max-width: fit-content;
}

.site-link{
    text-decoration: none !important;
}

#contact{
    border-radius: 36px 36px 0 0;
}

#form{
    text-align: left;
}
